<!DOCTYPE html>
<html lang="mn">

<head>
    <meta charset="UTF-8">
    <div class="logo-box">
        <img src="/static/SS.jpg" alt="SS Car Wash Logo">
        <h1>SS Car Wash</h1>
    </div>
    <title>SS</title>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/style.css">
</head>

<body>
    <div class="container page-padding">

        <div class="section">
            <h1>🚗 Автомашин угаалгын газар</h1>
        </div>

        <div class="section">
            <h3>📍 Байршил</h3>
            <a href="https://maps.app.goo.gl/FvVSt7CCsgD7Pu4y5" target="_blank">Газрын зураг нээх</a>
        </div>

        <div class="section">
            <h3>⏰ Ажиллах цаг</h3>
            <p>Өдөр бүр: 09:00 – 00:00</p>
        </div>

        <div class="section">
            <h3>📞 Холбоо барих</h3>
            <p>Утас: 99079990</p>
        </div>

        <div class="section price-section">
            <h2>💰 Үнийн мэдээлэл</h2>

            <div class="price-group">
                <h4>🏍 Motorcycle</h4>
                <p>Угаалга – <span>20,000₮</span></p>
            </div>

            <div class="price-group">
                <h4>🚗 Суудлын машин</h4>
                <p>Угаалга – <span>50,000₮</span></p>
                <p>Гадар угаалга – <span>30,000₮</span></p>
            </div>

            <div class="price-group">
                <h4>🚘 Prius 40 / 41</h4>
                <p>Угаалга – <span>55,000₮</span></p>
                <p>Гадар угаалга – <span>35,000₮</span></p>
            </div>

            <div class="price-group">
                <h4>🚙 Дунд оврын машин</h4>
                <p>Угаалга – <span>60,000₮</span></p>
                <p>Гадар угаалга – <span>40,000₮</span></p>
            </div>

            <div class="price-group">
                <h4>🚙 Том Jeep</h4>
                <p>Угаалга – <span>80,000₮</span></p>
                <p>Гадар угаалга – <span>50,000₮</span></p>
            </div>

            <div class="price-group extra">
                <h4>➕ Нэмэлт үйлчилгээ</h4>
                <p>🧼 Мотор угаах – <span>10,000₮</span></p>
                <p>✨ Drill өнгөлгөө</p>
                <p>🛡 Nano наалт</p>
                <p>🧽 Доторлогоо</p>
            </div>
        </div>


        <div class="section">
            <h3>🌐 Биднийг дагаарай</h3>
            <a class="facebook-btn" href="https://www.facebook.com/SS.car.wash.avto.ugaalga" target="_blank">
                Facebook хуудсанд орох
            </a>
        </div>



    </div>

    <div class="fixed-cta">
        <a href="/booking">🚘 Машин хонуулах захиалга</a>
    </div>

</body>

</html>