<!DOCTYPE html>
<html lang="mn">
<head>
    <meta charset="UTF-8">
    <title>Нэвтрэх</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
<div class="container">

    <div class="section">
        <h3>📱 Утасны дугаараар нэвтрэх</h3>

        <form method="POST">
            <input type="text" name="phone" placeholder="Утасны дугаар" required>
            <button type="submit">Нэвтрэх</button>
        </form>
    </div>

</div>
</body>
</html>
